$sizes: (10: 10%, 20: 20%, 40: 40%);
@import 'bootstrap/scss/bootstrap';
@import 'images';

body {
  @extend .d-flex;
  @extend .flex-column;
  min-height: 100vh;
}

a[href]:empty::before {
  content: attr(href);
}
