$sizes: (10: 10%, 20: 20%, 40: 40%);
@import 'bootstrap/scss/bootstrap';
@import 'base';
@import 'images';

body {
  @extend .d-flex;
  @extend .flex-column;
  min-height: 100vh;
}

header {
  @extend .sticky-top;
}

a[href]:empty::before {
  content: attr(href);
}

.translation_missing {
  color: red;
  background: yellow;
}
