.buttons-controls {
  $size: $spacer * .25;
  margin-right: -$size;
  margin-bottom: -$size;
  > form, > button.btn, > a.btn {
    margin-right: $size;
    margin-bottom: $size;
  }
}

.go-to-top {
  position: fixed;
  right: $spacer * 2;
  bottom: $spacer * 2.5;
  padding: 0;
  width: 50px;
  height: 50px;
  z-index: -1;
  &.show {
    z-index: 1000;
  }
}
