.images {
  a {
    img.image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      margin: auto;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @extend .bg-dark;
      }
      &:after {
        content: attr(alt);
        position: absolute;
        top: 1em;
        left: 1em;
      }
    }

    + .badge {
      position: absolute;
      bottom: 0;
      right: $spacer * .25;
      border-radius: 0;
      @extend .rounded-top;
    }
  }
}

.images-paginate {
  display: inline-block;
  position: sticky;
  bottom: $spacer;
  > nav {
    display: inline-block;
    > ul {
      @extend .mb-0;
      @extend .shadow;
    }
  }
}

.search {
  @extend .fixed-top;
  top: $spacer * .5;
  right: $spacer;
  left: auto;
  > form {
    button, input {
      @extend .shadow;
    }
  }
}

.titles {
  $size: $spacer * .25;
  margin-right: -$size;
  margin-bottom: -$size;
  .badge {
    margin-right: $size;
    margin-bottom: $size;
  }
}
