.images {
  a {
    img.image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      margin: auto;
    }

    + .badge {
      position: absolute;
      bottom: 0;
      right: $spacer * .25;
      border-radius: 0;
      @extend .rounded-top;
    }
  }
}

.images-paginate {
  display: inline-block;
  position: sticky;
  bottom: 0;
  > nav {
    display: inline-block;
    > ul {
      @extend .shadow;
    }
  }
}

.titles {
  $size: $spacer * .25;
  margin-right: -$size;
  margin-bottom: -$size;
  .badge {
    margin-right: $size;
    margin-bottom: $size;
  }
}
